html, body {
    height: 100%;
}

.container {
    display: flex;
    height: 100%;
}

.left {
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 500px;
}

.right {
    display: flex;
    flex: 1;
}

iframe {
    flex: 1;
}